<!DOCTYPE html>
<html lang='en'>
  <!--    -------------Web Page design by------------------------------------------------ -->
  <!--     \        /\        /  |¯¯¯¯¯  |\    |       |    |  |¯¯¯¯¯|  |\    |  |¯¯¯¯¯¯ -->
  <!--      \      /  \      /   |       | \   |       |    |  |     |  | \   |  | -->
  <!--       \    /    \    /    |--——-  |  \  |       |----|  |     |  |  \  |  |   ____ -->
  <!--        \  /      \  /     |       |   \ |       |    |  |     |  |   \ |  |      | -->
  <!--         \/        \/      |_____  |    \|       |    |  |_____|  |    \|  |______| -->
  <!-- I'm from Taiwan, nice to meet you.:) -->
  <head>
    <meta charset='UTF-8'>
    <meta content='Personal tour guiding services in Saint Petersburg, Russia' name='keywords'>
    <title>
      Home
      | Personal tour guiding services in Saint Petersburg, Russia
    </title>
    <!-- cdn -->
    <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js'></script>
    <script src="../js/jquery.scrollto.min.js"></script>
    <script src="../js/jquery.parallax-1.1.3.js"></script>
    <link href="../css/all.css" rel="stylesheet" />
    <!-- ga -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-71059860-1', 'auto');
      //ga('require', 'displayfeatures');
      //ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header>
      
      <nav class='nav-fixed' id='nav-fixed'>
        <link href="../css/partial/header-fixed.css" rel="stylesheet" />
        <a href='index.html' id='logo_aside'>
          <img alt='' src='img/logo_horizontal.png'>
        </a>
        <ul>
          <li>
            <a href="about.html">About us</a>
          </li>
          <li>
            <a href="tour.html">Tour guiding</a>
          </li>
          <li>
            <a href="transportation.html">Transportation</a>
          </li>
          <li>
            <a href="apartment.html">Apartments</a>
          </li>
        </ul>
      </nav>
    </header>
    <link href="../css/partial/header-fixed.css" rel="stylesheet" />
    <a href='index.html' id='logo_aside'>
      <img alt='' src='img/logo_horizontal.png'>
    </a>
    <ul>
      <li>
        <a href="about.html">About us</a>
      </li>
      <li>
        <a href="tour.html">Tour guiding</a>
      </li>
      <li>
        <a href="transportation.html">Transportation</a>
      </li>
      <li>
        <a href="apartment.html">Apartments</a>
      </li>
    </ul>
    <link href="../css/partial/footer.css" rel="stylesheet" />
    <footer>
      <article id='contact'>
        <h1>Contact us</h1>
        <div class='wrap'>
          <div id='contact-box'>
            <h2>Keep in touch : )</h2>
            <form action='mailto:hao840915@gmail.com' method='POST'>
              <input name='name' placeholder='Name' type='text'>
                <br>
                  <input name='email' placeholder='Email' type='email'>
                    <br>
                      <textarea name='message' placeholder='Message' rows='5'></textarea>
                      <br>
                        <input type='submit'>
                      </br>
                    </br>
                  </input>
                </br>
              </input>
            </form>
          </div>
          <ul>
            <li>
              <img alt='' src='img/email.png'>
                <p>petersburgtours.info@mail.ru</p>
                <p>peter.hao@mail.ru</p>
              </img>
            </li>
            <li class='segment'></li>
            <li>
              <img alt='' src='img/tel.png'>
                <p>+7 921 6552159</p>
              </img>
            </li>
          </ul>
        </div>
        <div class='clear'></div>
      </article>
      <div id='credit'>
        © ALL RIGHTS RESERVED | DESIGN BY
        <a href='https://www.facebook.com/Wayne.Huang.g'>WEN-HONG HUANG</a>
      </div>
    </footer>
  </body>
</html>
